body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
  background-image: url('assets/PCsetup.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

header {
  background: rgb(67 209 59);
  color: white;
  padding: 10px 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background: #333;
}

  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

    nav a:hover {
      background: #575757;
    }

main {
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

section {
  background: white;
  margin: 10px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0 0 0 10%);
  width: 100%;
  max-width: 800px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #333;
  color: white;
}

/* Responsive styles */
@media (width <= 600px) {
  nav {
    flex-direction: column;
  }
}

@media (width >= 601px) and (width <= 1024px) {
  main {
    flex-flow: row wrap;
    justify-content: center;
  }

  section {
    width: 45%;
    margin: 10px;
  }
}

@media (width >= 1025px) {
  section {
    width: 30%;
    margin: 10px;
  }
}
